.Hero {
    padding: 12px;
}

.Hero img {
    border-radius: 50%;
    width: 128px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 11px;
}

.name p {
    font-size: 35px;
    font-weight: 700;
}

.about {
    display: flex;
    color: rgba(255, 255, 255, .5);
    padding: 12px 0px 24px 0px;
    line-height: 1.4em;
    max-width: 400px;
}

.heroLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.heroLinks a {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, .05);
    padding: 15px 25px;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s;
}

.heroLinks a:hover {
    background-color: rgba(255, 255, 255, .09);
}