.Navbar {
    position: relative;
    z-index: 1;
    padding: 26px 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.email {
    color: black;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
}

nav ul {
    display: flex;
    position: absolute;
    text-transform: uppercase;
    gap: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul li a {
    color: black;
    font-size: 13px;
    font-weight: 400;
}