section {
    position: relative;
    padding: 125px 0px;
    z-index: 1;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 75px;
    grid-gap: 25px;
}

.project {
    overflow: hidden;
    border: 1px solid black;
}

.projectImage {
    display: flex;
}

.projectImage img {
    width: 100%;
}

@media(min-width: 1496px) {
    section {
        margin: auto;
        width: 1240px;
    }
}