.App {
    background-color: #f0f0f0;
    position: relative;
    min-height: 100vh;
    padding: 0px 70px;
}

.background-grid {
    background-image: linear-gradient(#e2e2e2 0.5px, transparent 0.2px, transparent calc(100% - 0.2px), #e2e2e2 calc(100% - 0.2px)), linear-gradient(90deg, #e2e2e2 0.2px, transparent 0.2px, transparent calc(100% - 0.2px), #e2e2e2 calc(100% - 0.2px));
    background-size: 4.166666666666667% 8.333333333333334%;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}